{
  "endOfLine": "lf",
  "importOrder": ["^@(?!/).*$", "^@/.*$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": [],
  "printWidth": 100,
  "proseWrap": "never",
  "singleQuote": true,
  "trailingComma": "all"
}